<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <h1> <%= rest.name %>
  </h1>

  <p> <%= rest.address %> </p>

  <p> <%= rest.phone %> </p>

  <% if (rest.isOpen){ %>

    <p>Yes we are open!🌮</p>

  <%} else %>

  <% { %>

    <p>Sorry, we are closed.😭</p>
  <%} %>


</body>
</html>
