<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>

<nav>
 <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <a href="/menu/mains">Mains</a>
  <a href="/menu/desserts">Desserts</a>
  <a href="/menu/sides">Sides</a>

</nav>

<body>
  <h1>Full Menu</h1>

  <h2>Mains</h2>

    <% menu.forEach(function(item){ %>

       <% if(item.category === "mains"){ %>

        <h3> <%= item.name %></h3>

        <p>  💰 <%= item.price %> </p>

        <p>  ⭐️ <%= item.rating %> </p>

        <p>  <%= item.details %> </p>
        <%} %>
       



   <% }) %>


</body>
</html>
